@import '../../Utils/style/globalVariables.scss';
@import '../../Utils/style/checkboxTodo.scss';


.todoForm {
    .form_container {
        padding: 15px 0;
        margin: 15px auto;
        
        min-width: $globalContainer-minWidth;
        max-width: $globalContainer-maxWidth;
        
        display: flex;
        .input_checkBox{
            
        }
        .input_text {
            background: none;
            border: none;
            outline: none;

            width: calc(90% - 33px);
            margin-left: 10px;
            color: $veryDarkGrayishBlue;
        }

        .input_text--dark {
            color: $veryLightGrayishBlue;
        }

        .input_text--light {
            color: $veryDarkGrayishBlue;
        }
    }

    .form_container--dark {
        background-color: $veryDarkDesaturatedBlue;
    }

    .form_container--light {
        background-color: $veryLightGray;
    }

    @media (max-width:$globalMedia-maxWidth) {

        .form_container {
            min-width: $globalMobileContainer-minWidth;
            max-width: $globalMobileContainer-maxWidth;

        }
    }
}