@import '../../Utils/style/globalVariables.scss';
@import '../../Utils/style/checkboxTodo.scss';


.todoList_container{
    margin: 15px auto;
    min-width: $globalContainer-minWidth;
    max-width: $globalContainer-maxWidth;
    border-radius: 5px;
    
    .todoList_list{
        list-style: none;
        padding: 0;
        margin: 0;
        
        .todoList-item{ //TODO item
            display: grid;
            grid-template-columns: 40px auto;
            grid-template-rows: 1fr;
            align-items: center;
            justify-items: start;
            
            border-bottom: 1px solid $DarkGrayishBlue;
            p{
                text-align: start;
                margin:  15px 10px;
                overflow: scroll;
                color: $lightGrayishBlue;
            }
            
        }
        .item-completed{
            text-decoration: line-through;
        }
        
        //FINISH TODO ITEM
        
    }
    
    .footer{
        margin: 0 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        
        .button_clear{
            background: none;
            border: none;
            cursor: pointer;
            color: inherit;
            &:hover{
                color: $lightGrayishBlueHover;
            }

        }

    }
    
    
}


.todoList_container--dark {
    background-color: $veryDarkGrayishBlue;
    color: $lightGrayishBlue;
}

.todoList_container--light {
    background-color: $veryLightGray;
    color: $veryDarkBlue;
    
}



@media (max-width:$globalMedia-maxWidth) {
    
    .todoList_container {
        min-width: $globalMobileContainer-minWidth;
        max-width: $globalMobileContainer-maxWidth;
        
    }
    
    
    
}