.input_checkBox {
    appearance: none;
    margin-left: 15px;
    width: 23px;
    height: 23px;
    border: none;
    border-radius: 50%;
    border: 1px solid $darkGrayishBlue;
    cursor: pointer;

    &:checked {
        background-image: url('../../Assets/icon-check.svg'), linear-gradient(hsl(192, 100%, 67%), hsl(280, 87%, 65%));
        background-repeat: no-repeat;
        background-size: content;
        background-position: center;
    }
}